
@{
    ViewBag.Title = "AccountCreated";
}

<h2>Account Created</h2>

<p>
    Thank you for registering an account with us.  Please check your email at
</p>
<p>@ViewBag.EmailAddress </p>
<p>
    for a link to activate your account.  You can either copy and paste it, or click on it directly.
</p>
<p>If you do not see that email, please check your spam folder as some emails can end up there.</p>
<p>Once you activate your account, you'll be able to have full access to your account.  Until then, please do you try to log in, as it will not allow you.</p>
<p>If you accidently delete the email, please contact us for assistance.</p>
