
@{
    ViewBag.Title = "Activation Successful";
}

<h2>Activation Successful!</h2>

<p>Thank you for activating your account.</p>
<p>Now you can use your email address to login to your account.</p>
<p>Once you've logged in, you can add more to your profile, including a username to make logging in even easier.</p>
