
@{
    ViewBag.Title = "Activation Failed";
}

<h2>Activation Failed</h2>

<p>We're sorry, but something went wrong activating your account.</p>
<p>Please try again by copying the link (make sure you do so carefully), or by clicking it directly in your email.</p>
<p>If you believe this is an error, please contact us to assist.</p>