
@{
    ViewBag.Title = "Registration Successful";
}

<h2>Registration Successful!</h2>

<p>Congratulations!  Your registration was successful.  A registration confirmation email was sent to your inbox at @ViewBag.RegisteredEmail.  If that address isn't correct, please let us know.</p>
<p>Once you get the email, be sure to follow the instructions.  You will not be able to log in to your account until you do.</p>
<p>Until then, please feel free to visit our open areas as much and often as you would like.</p>