
@{
    ViewBag.Title = "UnAuthorized";
}

<h2>UnAuthorized</h2>

<img src="~/Content/images/gui/stop-sign.jpg" />

<p>It appears you're attempting to go somewhere that your credentials don't allow.</p>
<p>If you feel this is in error, please contact us and let us know.</p>
