
@{
    ViewBag.Title = "Error";
}

<h2>Error</h2>

<p>So sorry.  There was an error.  But, don't worry.  Everything is in control.</p>
<p>If you followed a link to get to this point, check that it is properly formatted.</p>
<p>If you pressed a button, make sure you entered information correctly into the form.</p>
<p>If you still have no idea why you're seeing this page, please let us know what happened so we can help.</p>