
@{
    ViewBag.Title = "User Not Found";
}

<h2>User Not Found</h2>

<strong>We tried...</strong>
<img src="~/Content/images/gui/sherlock-holmes-147255_960_720.png" />
<p>It appears something strange is afoot.</p>
<p>The user you were looking for seems to be missing.</p>
<p>Try to find someone else, and we'll report back to the yard.</p>